# Common Requirements

--Interpersonal-Skills-- 
Smart & Hardworking
Confident & Dedicated 
Motivation of Sharing Knowledge
No Selfish Nature
No College/Exams/Marks Fear

--Technical-Skills--
Creative Mind
Good Knowledge Of Computers
Programming Skills (any one language)
Knowledge of Oops/Data Structures/Algorithms will be Bonus

# Individual Requirements

## 1

> Updated with Events and OpenSource Technologies.

## 2

> Good at Code Design, Programming & Algorithms.

## 3

> Web Dev and Creative Designing. 

## 4

> Ideater, App & Software Dev, Able to relate Real Life with Computers.

## 5

> System & Network Expert. 

## 6

> Marketing and Business Expert.


