#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use NFS installation media
nfs --server=192.168.1.21 --dir=/centos
rootpw --iscrypted $6$Se4bugdpzaKPlvD6$Ra9telcXwsTyLRkmKRzMAsFB27vzx4.NM2jWh4KP4GfNzADyiBbb3X/WSPUWh/MgZh5GLe15npsp17f5D7kAz0
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
#graphical
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# Installation logging level
logging --level=info
# Reboot after installation
reboot
# System timezone
timezone  Asia/Kolkata
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all  
# Disk partitioning information
part /boot --fstype="ext4" --size=200
part / --fstype="ext4" --size=3000

%packages --nobase --ignoremissing
@core
%end
%post
echo "FTP:" > /root/q.txt
echo "1. Download all txt files from ftp as anonymous." >> /root/q.txt
echo "2. Upload q.txt to ftp server as anonymous." >> /root/q.txt
echo "3. Default permissions of downloaded files should be -rwxr--r--." >> /root/q.txt
yum install vsftpd* -y &> /dev/null
touch /var/ftp/pub/{1..5}.txt &> /dev/null
chmod 000 /var/ftp/pub &> /dev/null
sed 's/anonymous_enable=YES/anonymous_enable=NO/g' -i.bak /etc/vsftpd/vsftpd.conf
sed 's/write_enable=YES/write_enable=NO/g' -i.bak /etc/vsftpd/vsftpd.conf
sed 's/local_enable=YES/local_enable=NO/g' -i.bak /etc/vsftpd/vsftpd.conf
sed 's/local_umask=022/local_umask=033/g' -i.bak /etc/vsftpd/vsftpd.conf
echo "anonymous" >> /etc/vsftpd/user_list
rm -f /etc/vsftpd/vstpd.conf.bak
%end
