#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use NFS installation media
nfs --server=192.168.1.21 --dir=/centos
rootpw --iscrypted $6$Se4bugdpzaKPlvD6$Ra9telcXwsTyLRkmKRzMAsFB27vzx4.NM2jWh4KP4GfNzADyiBbb3X/WSPUWh/MgZh5GLe15npsp17f5D7kAz0
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
#graphical
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# Installation logging level
logging --level=info
# Reboot after installation
reboot
# System timezone
timezone  Asia/Kolkata
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all  
# Disk partitioning information
part /boot --fstype="ext4" --size=200
part / --fstype="ext4" --size=3000

%packages --nobase --ignoremissing
@core
%end
%post
echo "FTP:" > /root/q.txt
echo "only anonymous should be allowed to read only." >> /root/q.txt
yum install vsftpd* -y &> /dev/null
touch /var/ftp/pub/{1..5}.txt &> /dev/null
chmod 000 -R /var/ftp/pub &> /dev/null
sed 's/userlist_enable=YES/userlist_enable=NO/g' -i.bak /etc/vsftpd/vsftpd.conf &> /dev/null
echo "anonymous" >> /etc/vsftpd/ftpusers &> /dev/null
rm -f /etc/vsftpd/vstpd.conf.bak &> /dev/null
chmod 444 -R /etc/vsftpd &> /dev/null
%end
